# Archivos generados automáticamente
.npm/
.nvm/
node_modules/

# Archivos de configuración locales
.bash_sessions/
.cache/
.composer/
.config/
.gitconfig
.idlerc/
.lesshst
.mongodb/
.mysql_history
.ssh/
.viminfo
.vscode/
.vuerc
.zsh_history

# Directorios de aplicaciones o proyectos
Adalab-promo-T-module-3-pair-10-sprint-2-hangman-game/
Applications/
Documents/
Downloads/
Library/
Manage/
Meteo/
Movies/
Music/
Pictures/
Public/
Sites/
angular-starter-kit/
calendario-tareas/
dev-portfolio/
django-react-workshop/
dumps/
env/
flask_course_manager/
modulo-1-evaluacion-final-MartaBelmonte/
modulo-2-evaluacion-final-MartaBelmonte/
my-next-app/
myproject/
project-promo-t-module-1-team-4/
project-promo-t-module-4-team-2/
promo-T-module-1-pair-0-spotify/
promo-t-module-1-pair-6-spotify/
study-spotify-adalab/
test-next.js/
vite-project/
